@page "/grimorio"
<div class="grimorio">
    <div class="lista-magias">
        @foreach (var nivel in MagiaService.GetGroupedByLevel()){
            <div class="nivel-magia">
                <span class="label-medium">Nível @nivel.Key</span>
                <ul class="body-large">
                    @foreach (var magia in nivel){
                        <a @onclick="() => {DisplayCard(magia.Nome);}"><li>@magia.Nome</li></a>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="detalhe-magia">
        @if(cardContents.Nome is not null){
            <TRPG.Shared.M3Components.Card type="filled">
                <div class="card-body">
                    <h3 class="headline-medium">@cardContents.Nome</h3>
                    <span class="label-large">@cardContents.Tipo, Nível @cardContents.Nivel (subtipo)</span>
                    <div class="dados-magia">
                        <div><span class="label-large">Tempo de execução:</span> @cardContents.TempoExecucao</div>
                        <div><span class="label-large">Alcance:</span> @cardContents.Alcance</div>
                        <div><span class="label-large">Alvo:</span> @cardContents.Alvo</div>
                        <div><span class="label-large">Duração:</span> @cardContents.Duracao</div>
                        <div><span class="label-large">Teste de Resistência:</span> @cardContents.TesteResistencia</div>
                    </div>
                    <hr />
                    <p>@cardContents.Descricao</p>
                    <div class="magia-actions">
                        <TRPG.Shared.M3Components.Button type="outlined">Editar</TRPG.Shared.M3Components.Button>
                        <TRPG.Shared.M3Components.Button type="filled">Conjurar</TRPG.Shared.M3Components.Button>
                    </div>
                </div>
            </TRPG.Shared.M3Components.Card>
        }
    </div>
</div>

@code {
    Magia cardContents = new Magia();
    private void DisplayCard(string nome){
        var magia = MagiaService.Get(nome);
        if(magia is null)
            return;
        
        cardContents = magia;
    }
}
